/* Written by Brian Carter */
@import url(//cdn.jsdelivr.net/font-hack/2.013/css/hack-extended.min.css);

body {
	color: #657b83;
	background-color: #fdf6e3;
	background-image: url("/bkg.gif");
	font-family: Hack, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	font-size: 36px;
}

code  {
}

div.container {
	min-height: 100%;
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.header {
	text-align: center;
	padding-bottom: 15px;
}

div.content {
	text-align:justify;
	padding: 20px 10px;
}

div.footer {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}

div.box {
	padding-left: 10px;
	padding-right: 10px;
	background-color:#fdf6e3;
	line-height:200%;
	border:0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 6px #eee8d5;
	-webkit-box-shadow: 0 0 6px #eee8d5;
	-moz-box-shadow: 0 0 6px #eee8d5;
}

/* Not using this
div.rtcol {
	margin-left: 350px;
	padding-left: 50px;
	text-align: right;
}

div.ltcol {
	float: left;
	width: 350px;
}
*/

/* Blog */

h1.blog {
}

span.blogtitle {
	color: #93a1a1;
}

span.blogdate {
	color: #93a1a1;
}

/* Project */

h1.project {
}

span.projtitle {
	font-size: 115%;
	display: inline-block;
}

/* Links */
a:link {
	color: #6c71c4;
	text-decoration: none;
}

a:visited {
	color: #6c71c4;
	text-decoration: none;
}

a:hover {
	color: #268bd2;
	text-decoration: underline;
}

a:active {
	color: #268bd2;
	text-decoration: underline;
}
