/* Written by Brian Carter */
@import url(//cdn.jsdelivr.net/font-hack/2.013/css/hack-extended.min.css);

body {
	color: #657b83;
	background-color: #fdf6e3;
	background-image: url("/bkg.gif");
	font-family: Hack, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

div.box {
	margin:0px auto;
	text-align:left;
	padding:15px;
	background-color:#fdf6e3;
	line-height:150%;
	border:0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 6px #eee8d5;
	-webkit-box-shadow: 0 0 6px #eee8d5;
	-moz-box-shadow: 0 0 6px #eee8d5;
}

div.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.header {
	text-align: center;
	padding-bottom: 15px;
}

div.rtcol {
	margin-left: 350px;
	padding-left: 50px;
	text-align: right;
}

div.ltcol {
	float: left;
	width: 350px;
}

div.footer {
	clear: both;
	float: left;
	position: fixed;
	bottom: 10px;
}

span.objtitle {
	display: inline-block;
	font-size: +1;
}

span.objdesc {
	display: inline-block;
	text-indent: 15px;
}

/* Links */
a:link {
	color: #6c71c4;
	text-decoration: none;
}

a:visited {
	color: #6c71c4;
	text-decoration: none;
}

a:hover {
	color: #268bd2;
	text-decoration: underline;
}

a:active {
	color: #268bd2;
	text-decoration: underline;
}
