/* Written by Brian Carter */
@import url(//cdn.jsdelivr.net/font-hack/2.013/css/hack-extended.min.css);

body {
	color: #657b83;
	background-color: #fdf6e3;
	background-image: url("/bkg.gif");
	font-family: Hack, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 36px;
}

div.box {
	margin:0px auto;
	text-align:justify;
	padding: 5px 20px;
	background-color:#fdf6e3;
	line-height:200%;
	border:0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 6px #eee8d5;
	-webkit-box-shadow: 0 0 6px #eee8d5;
	-moz-box-shadow: 0 0 6px #eee8d5;
}

div.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.header {
	text-align: center;
	padding-bottom: 15px;
}

div.rtcol {
	margin-left: 350px;
	padding-left: 50px;
	text-align: right;
}

div.ltcol {
	float: left;
	width: 350px;
}

div.footer {
	width: 800px;
	float: left;
	position: fixed;
	bottom: 0;
}

/* Posts */

span.posttitle {
	font-size: +2;
	color: #93a1a1;
}

span.postdate {
	color: #93a1a1;
}

span.postex {
	line-height: 15px;
}

hr.short {
	color: #93a1a1;
	width: 50%;
	align: left;
	margin-left: 0;
}

.alignleft {
	float: left;
}

.alighnright {
	float: right;
}

/* Links */
a:link {
	color: #6c71c4;
	text-decoration: none;
}

a:visited {
	color: #6c71c4;
	text-decoration: none;
}

a:hover {
	color: #268bd2;
	text-decoration: underline;
}

a:active {
	color: #268bd2;
	text-decoration: underline;
}
